@import "./reset";

$color-primary: #fff;
$fontSize-primary: calc(2500vw / 1440);
body {
    font-family: sans-serif;
    font-size: $fontSize-primary;
    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 414px) {
        margin-top: 8vw;
        align-items: flex-start;
        width: 100%;
        height: auto;
    }
}

.card {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 4vw;
    animation: fadeCard 2s ease-in-out forwards;

    .form {
        display: flex;
        align-items: center;
        padding-bottom: 1vw;

        &__search {
            
            margin-right: 1vw;
            width: 25vw;
            height: 3vw;
            color: $color-primary;
            border: 1px solid rgba($color-primary, .6);
            padding: 5px 10px;
            border-radius: 6px;

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &__btn {
            width: 4vw;
        }
    }
}

.infos {
    line-height: 1.5;
    display: none;

    .temp, .wind, .humidity {
        padding-top: 1vw;
    }

    .weather {
        display: flex;
        align-items: center;

        .icon {
            width: 4vw;
            margin-left: 1vw;
        }
    }
}

@keyframes fadeCard {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeTitle {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(1);
        opacity: 1;
    }
}